   <!-- =-=-=-=-=-=-= FOOTER =-=-=-=-=-=-= -->
   <footer class="footer-bg">
      <!-- Footer Content -->
      <div class="footer-top">
         <div class="container">
            <div class="row">
               <div class="col-md-3  col-sm-6 col-xs-12">
                  <!-- Info Widget -->
                  <div class="widget">
                     <div class="logo"> <img alt="" src="img/zoomcars.jpg"> </div>
                     <p>Book a car today! Hundreds of reputed drivers available.</p>
                  </div>
                  <!-- Info Widget Exit -->
               </div>
               <div class="col-md-2  col-sm-6 col-xs-12">
                  <!-- Follow Us -->
                  <div class="widget my-quicklinks">
                     <h5>Quick Links</h5>
                     <ul>
                        <li><a href="/home">Home</a></li>
                        <li><a href="/about">About Us</a></li>
                     </ul>
                  </div>
                  <!-- Follow Us End -->
               </div>
               <div class="col-md-5  col-sm-6 col-xs-12">
                  <div class="copyright">
                     <p>© 2021 Zoom Inc.
                     </p>
                  </div>
               </div>
            </div>
         </div>
      </div>

   </footer>
   <!-- =-=-=-=-=-=-= FOOTER END =-=-=-=-=-=-= -->
