{{#> index title="Driver Forgot Password"}}

<div class="page-wrapper p-t-130 p-b-100 font-poppins">
    <div class="wrapper wrapper--w680">
        <div class="card card-4">
            <div class="card-body">
                <div class="container-fluid my-5 py-5 alert-primary border">
                    {{#if ../Success}}               
                    <div role="alert">
                        <h4 class="info-heading">Success!</h4>
                        Check your email account for further action. 
                    </div>
                    {{else}}
                    <h2 class="text-center text-underline mb-3">Forgot Password</h2>
                    <form method="POST">
                        <div class="row">
                            <div class="col-lg-12 form-group">
                                <label>Email</label>
                                <input type="email" class="form-control" placeholder="Enter Email ID..." name="email"
                                    value="{{../email}}" required minlength="5">
                            </div>
                            <div class="col-lg-12 form-group">
                                <button type="submit" class="btn btn-primary admin_login">Reset Password</button>
                            </div>
                        </div>
                    </form>
                    {{/if}}
                    {{> errors ErrorMessages=../ErrorMessages}}
                </div>
            </div>
        </div>
    </div>
</div>
{{/index}}