{{#> index title="404 Unauthorized"}}

<div class="alert alert-danger" role="alert">
    <h4 class="error-heading">404 Error</h4>
    Please log in through the proper portal to perform that action.
</div>

{{/index}}