{{#> index title="500 Server Error"}}

<div class="alert alert-danger" role="alert">
    <h4 class="error-heading">500 Error</h4>
    The server failed to perform this action. Please try again later.
</div>

{{/index}}