{{#> index title="About"}}
    <!-- =-=-=-=-=-=-= Testimonials =-=-=-=-=-=-= -->
    <section class="section-padding parallex bg-img-3">
        <div class="container">
            <div class="row">
                <div class="col-6 col-offset-3">
                    Carsharing or carpooling or ride sharing has recently emerged as a more
                    convenient and affordable alternative to taxis, as most car-sharing companies allow
                    their customers to book a car through a dedicated mobile application. As the name
                    suggests, carpooling refers to sharing a ride with another passenger, preferably
                    someone traveling in the same direction as you. The idea is to break down fares
                    between passengers to make the overall trip affordable.
                </div>
            </div>
        </div>
    </section>
{{/index}}