{{#> index title="View Drivers"}}

<div class="page-wrapper p-t-130 p-b-100 font-poppins">
    <div class="wrapper wrapper--w680">
        <div class="card card-4">
            <div class="card-body">
                <div class="container-fluid my-5">
                    <h2 class="text-center text-underline mb-3">View Drivers</h2>

                    <div class="table-responsive">
                        <table class="table table-driver  table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Email</th>
                                    <th class="text-center" colspan="2">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each ../Drivers}}
                                <tr>
                                    <td>{{@index}}</td>
                                    <td>{{email}}</td>
                                    <td>
                                        {{> admin_actions AccountId=driverId Status=status }}
                                    </td>
                                    <td>
                                        <button class="btn btn-primary btn-sm" data-toggle="collapse"
                                            data-target="#collapseDriver{{driverId}}">View</button>
                                    </td>
                                </tr>
                                <tr id="collapseDriver{{driverId}}" class="collapse out">
                                    <td colspan="4">
                                        {{> driver_details this}}
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/index}}